<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-nav-tabs">
          <div class="card-header" data-background-color="green">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="active">
                    <a href="#cars" data-toggle="tab">
                      <i class="material-icons">directions_car</i>Carros
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="">
                    <a href="#motorcycles" data-toggle="tab">
                      <i class="material-icons">motorcycle</i>Motos
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="tab-content">
              <div id="cars" class="tab-pane active">
                <app-vehicle-park #cars (selectedVehicle)="onSelectedCar($event)" [amount]="21" [type]="0"></app-vehicle-park>
              </div>
              <div id="motorcycles" class="tab-pane">
                <app-vehicle-park #motorcycles (selectedVehicle)="onSelectedCar($event)" [amount]="12" [type]="1"></app-vehicle-park>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sart Modal -->
<div id="cardParkModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #f="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label id="lblPlate" class="form-label" for="txtPlate">Placa</label>
                <input id="txtPlate" type="text" class="form-control text-uppercase" [(ngModel)]="currentVehicle?.vehicle.plate" name="plate"
                  maxlength="6" required>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="currentVehicle?.vehicle.type == 1">
            <div class="col-md-12">
              <div class="form-group">
                <label id="lblCylinder" class="form-label" for="txtCylinder">Cilindraje</label>
                <input id="txtCylinder" type="text" class="form-control" [(ngModel)]="currentVehicle?.vehicle.cylinder" maxlength="4" name="cylinder"
                  required appOnlyNumber>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea id="txtNotes" class="form-control text-uppercase" placeholder="Observaciones" rows="5" name="notes" [(ngModel)]="currentVehicle.notes"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btnPark" type="button" class="btn btn-success" (click)="park()" [disabled]="!f.valid">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->

<!-- Sart Modal -->
<div id="unparkModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #form="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label id="lblAmountDue" class="form-label" for="txtAmountDue">Total</label>
                <label id="txtAmountDue" class="form-control text-uppercase">{{amountToPaid}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label id="lblAmountTendered" class="form-label" for="txtAmountTendered">Recibido</label>
                <input id="txtAmountTendered" #txtAmountTendered placeholder="Ingrese el dinero recibido" type="text" class="form-control"
                  maxlength="6" required appOnlyNumber>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label id="lblChange" class="form-label" for="txtChange">Cambio</label>
                <label id="txtChange" class="form-control">{{txtAmountTendered.value - amountToPaid}}</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="unpark()" [disabled]="txtAmountTendered.value - amountToPaid < 0">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->