<div class="card card-stats">
  <div class="card-header" [attr.data-background-color]="carPark.available ? 'green' : 'red'">
    <span class="badge">{{carPark.slotNumber}}</span>
    <i class="material-icons">{{carPark.vehicle.type == 0 ? 'directions_car' : 'motorcycle' }}</i>
  </div>
  <div class="card-content">
    <p class="category" *ngIf="carPark.vehicle.type == 1">
      <span class="label label-warning">{{carPark.vehicle.cylinder}} C.C</span>
    </p>
    <h3 class="title">{{carPark.vehicle.plate || '------' | uppercase}}</h3>
  </div>
  <div class="card-footer text-right">
    <div class="stats">
      <i class="material-icons text-danger">date_range</i>&nbsp;{{carPark.entryDate}}
    </div>
  </div>
</div>